/* Header-Main */

body{
	font-family: 'Lato', sans-serif;
}

.white{
	background-color: #fff;
}

.menu-icon:hover:after,
.menu-icon:after{
	background: #9b9b9b;
	box-shadow: 0 7px 0 #9b9b9b, 0 14px 0 #9b9b9b;
}

.container{
	padding-bottom: 70px;
}

a,
a:hover,
a:focus,
.accordion-title{
	color: #171717;
}

.accordion-title{
	font-size: 0.85em;
	padding: 13px 25px;
}

a:focus{
	outline-color: #eee;
}

.menu-bar{
	overflow: hidden;
}

.accordion-title:hover,
.accordion-title:focus{
	background-color: #eee;
}

.off-canvas,
.accordion{
	background: #f2f2f2;
}

a.accordion-title.noplus:before{
	content: none;
}

.accordion-title:before{
	font-size: 20px;
	top: 45%;
}

.column,
.columns{
	padding: 0;
	padding-bottom: 10px;
}

.accordion-content{
	font-size: 0.78em;
	background-color: #f2f2f2;
}

.li-nostyle{
	list-style: none;
}

.uppercase{
	text-transform: uppercase;
}

.bolder{
	font-weight: bolder;
}

.shipping-bar{
	background-color: #171717;
	font-size: 0.8em;
	padding: 0.3em;
}

.shipping-bar-md{
	font-size: 0.8em;
	padding: 0.5em 1em;
}

.shipping-item{
	padding: 0 1em;
}

.shipping-item:hover,
.shipping-item:focus{
	color: white;
	text-decoration: underline;
}

.text-white{
	color: white;
}

a.text-white:hover{
	color: white;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.position-left{
	width: 480px;
	-ms-transform: translateX(-480px);
	transform: translateX(-480px);
}

.position-left.is-open ~ .off-canvas-content{
	-ms-transform: translateX(480px);
	transform: translateX(480px);
}

.position-right{
	width: 325px;
	height: 100%;
	-ms-transform: translateX(325px);
	transform: translateX(325px);
}

button.fa.fa-shopping-bag,
button.fa.fa-search{
	color: gray;
}

.navbar{
	position: fixed;
	width: 100%;
}

a.fa.fa-search,
a.fa.fa-shopping-bag,
span.fa.fa-plane{
	color: #9b9b9b;
	padding-right: 10px;
}

a.fa.fa-search:hover,
a.fa.fa-shopping-bag:hover{
	color: #4a4a4a;
}

.js-off-canvas-overlay{
	background: rgba(0, 0, 0, 0.25);
}

.top-bar input{
	width: 250px;
	max-width: 250px;
}

.bag-title{
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	font-size: 1.5em;
	font-family: 'Nunito', sans-serif;
}

a.fa.fa-angle-right,
a.fa.fa-angle-right:hover,
a.fa.fa-angle-left,
a.fa.fa-angle-left:hover{
	font-size: 1.5em;
	color: white;
}

.search{
	padding: 20px 5px;
	font-size: 1.5em;
}

.bag-promo{
	font-size: 0.85em;
	color: #171717;
	padding-left: 10px;
}

.bag-promo:hover{
	color: #9b9b9b;
}

.bag-promo:active{
	color: #d0021b;
}

.promo-md{
	background-color: #171717;
}

.principal-md{
	padding: 1em 0 0.3em;
}

.searchbox-md{
	float: left;
	width: 40%;
}

.search-md,
.search-md:focus{
	border: 1px solid black;
}

a.fa.fa-shopping-bag.bag-md{
	padding: 0 0.5em;
}

.fab-logo-md{
	width: 100px;
}

div.float-right{
	color: #9b9b9b;
	padding-top: 0.5em;
}

.links-md{
	color: #9b9b9b;
	padding: 0 0.5em;
}

.links-md:hover{
	color: #4a4a4a;
}

.nav-md{
	padding: 0 2.40em;
	color: #9b9b9b;
}

.menu-md{
	padding: 1em 0;
	font-size: 0.98em;
}

a.bolder.uppercase:hover{
	color: #9b9b9b;
}

input[type="search"].search-md::-webkit-input-placeholder {
  color: black;
}

@media only screen and (min-width: 319px){
	.position-left{
		width: 250px;
		-ms-transform: translateX(-250px);
		transform: translateX(-250px);
	}

	.position-right{
		width: 250px;
		height: 100%;
		-ms-transform: translateX(250px);
		transform: translateX(250px);
	}

	.position-left.is-open ~ .off-canvas-content{
		-ms-transform: translateX(250px);
		transform: translateX(250px);
	}
}

@media only screen and (min-width: 499px) {
	.position-left{
		width: 350px;
		-ms-transform: translateX(-350px);
		transform: translateX(-350px);
	}

	.position-right{
		width: 350px;
		height: 100%;
		-ms-transform: translateX(350px);
		transform: translateX(350px);
	}

	.position-left.is-open ~ .off-canvas-content{
		-ms-transform: translateX(350px);
		transform: translateX(350px);
	}
}

@media only screen and (min-width: 640px){
	a.links-md.fab-md{
		display: none;
	}
}

@media only screen and (min-width: 730px){
	a.links-md.fab-md{
		display: inline-block;
	}
}

/* Descripción 1 */

.fg-caption{
	width: 200px;
	height: 200px;
}

figure{
	display: inline-block;
}

.price{
	color: rgb(74, 74, 74);
	margin-left: -150px;
}

.title-color{
	color: rgb(155, 155, 155);
}

.arrow{
	cursor: pointer;
}

.arrow:hover{
	color: rgb(155, 155, 155);
}

.photos-pad{
	padding-top: 25px;
}

.figure-orbit{
	width: 19%;
	
}

.zoom{
	width: 20%;
	cursor: pointer;
}

.zoom:hover{
	border: 1px solid lightgray;
	background-color: rgba(255,255,255,0.9);
}